################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/ToDo-List/ToDo-List/ToDo-List.csproj
